body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);  color: #333333;            
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background 0.3s, color 0.3s;
}

body.dark {
  color: #f4f4f4;            
}

.container {
  background: #f4f4f4;       
  padding: 30px;
  border-radius: 15px;
  width: 95%;
  max-width: 600px;
  
}

body.dark .container {
  background: #1e1e1e;       
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  width: 100%;
}

input[type="text"] {
  flex: 2;
  
}

button {
  background-color: #764ba2; 
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

body.dark button {
  background-color: #bb86fc; 
}

button:hover {
  opacity: 0.85;
  transform: scale(1.08);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eeeeee;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #333333;
  display: flex;
  flex-direction: column;
}

body.dark li {
  background: #2a2a2a;
  color: #f4f4f4;
}

li span {
  font-weight: bold;
  font-size: 16px;
}

li.completed span {
  text-decoration: line-through;
  color: rgb(128, 128, 128);
}

.task-meta {
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.priority-High {
  color: red;
}

.priority-Medium {
  color: orange;
}

.priority-Low {
  color: green;
}



@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container.zoom-in {
  animation: zoomIn 1s ease forwards;
}
